<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users Table</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/get_users.css') }}">
        <script>
            async function fetchUsers() {
                const response = await fetch("/api/user");
                const users = await response.json();

                const table = document.getElementById("users");
                const tbody = document.createElement("tbody");

                users.data.forEach((user) => {
                    const row = document.createElement("tr");

                    row.innerHTML = `
                        <td><a href="/user/${user.id}">${user.id}</a></td>
                        <td>${user.name}</td>
                        <td>${user.surname}</td>
                        <td>${user.email}</td>
                    `

                    tbody.appendChild(row);
                });

                const row = document.createElement("tr");
                tbody.appendChild(row);

                table.appendChild(tbody);
            }

            document.addEventListener("DOMContentLoaded", fetchUsers);
        </script>
    </head>
    <body>
        <main>
            <div class="container">
                <form action="/api/user" method="POST" class="form">
                    <h1>Add new user</h1>
                    <div class="form__input">
                        <input type="text" name="name" id="name" required="required" />
                        <label for="name">First name</label>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname" id="surname" required="required" />
                        <label for="surname">Last name</label>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email" id="email" required="required" />
                        <label for="email">Email</label>
                    </div>
                    <input type="submit" value="Add User" class="form__submit" />
                </form>

                <div class="wrapper">
                    <h1>Users List</h1>
                    <table id="users">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>
